.DS_Store
*.swp
/devonthink/
/blog/
/gitlist/cache

static/IMG_1935.JPG

# sveltekit .gitignore
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*